#deleteForm, .msg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html {
  height: 100%;
  background: #cce6ff;
  color: #404040;
}

body {
  height: 95%;
  min-height: 300px;
  max-height: 900px;
  margin: auto;
  font-family: "ubuntu", sans-serif;
}

h1, .portfolioContainer {
  text-align: center;
}

h1 {
  border-bottom: 2px solid #ff6666;
  border-top: 2px solid #9fdf9f;
  width: 200px;
  margin: 10px auto;
}

main {
  width: 100%;
  min-width: 970px;
  height: 90%;
}

main, .portfolioContainer {
  min-height: 300px;
  max-height: 900px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.portfolioContainer {
  display: inline-block;
  border-radius: 10px;
  overflow: auto;
  background: white;
  color: black;
  width: 70%;
  max-width: 900px;
  min-width: 500px;
  height: 100%;
}

.msg {
  text-align: center;
  font-style: italic;
}

#portfolio {
  display: table;
  width: 100%;
  max-height: 100%;
  border-spacing: 0px;
}
#portfolio tr {
  display: table-row;
  background: #e6e6e6;
  color: black;
  margin: 0;
  overflow: visible;
  position: relative;
  padding: 3px 0;
  width: 100%;
  border: none;
  height: 70px;
}
#portfolio tr input {
  background: inherit;
  border: none;
  color: black;
}
#portfolio tr td {
  display: table-cell;
}
#portfolio tr:nth-child(odd) {
  background: #a6a6a6;
  color: white;
}

.editButton {
  display: inline-block;
}

.coinImage {
  display: inline-block;
  margin-right: 5px;
}

.portfolioInfo {
  display: inline-block;
}

.portfolioChange {
  display: inline-block;
  font-size: 1.25em;
}

.portfolioName, .portfolioTag {
  display: inline-block;
}

.portfolioTag {
  margin-left: 3px;
  font-style: italic;
}

.current {
  display: inline-block;
  margin-left: 5px;
}

.currentPrice, .currentWorth {
  display: block;
}

.deleteConfirm {
  color: white;
  border-radius: 10px;
  position: fixed;
  height: 200px;
  width: 500px;
  background: #333333;
}

#deleteForm {
  margin: auto;
  height: 50%;
  width: 80%;
}
#deleteForm input {
  position: relative;
  bottom: 0;
}

#cancelDelete, #confirmDelete {
  margin: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}

#cancelDelete {
  background: darkred;
}

#confirmDelete {
  background: green;
}

.delete input, .deleteHead input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

p {
  display: inline;
}

.search {
  display: inline-block;
  height: 100%;
  min-height: 300px;
  max-height: 900px;
  width: 25%;
  max-width: 385px;
  min-width: 200px;
  border-radius: 10px;
  background: white;
  overflow: auto;
}

#searchInput, button[name=searchButton] {
  border: none;
  border-radius: 10px;
  height: 25px;
  margin-top: 3px;
}

#searchInput {
  width: 80%;
  background: #f2f2f2;
  font-family: "ubuntu", sans-serif;
  padding-left: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: "ubuntu", sans-serif;
  font-size: 0.8em;
  list-style: none;
  border-bottom: solid 1px black;
  padding: 15px 0;
  color: black;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.portfolioName {
  font-size: 1.25em;
}

li:first-child {
  border-top: 1px solid black;
  margin-top: 5px;
}

.searchAddContainer {
  display: inline-block;
}

button[name=searchAdd] {
  height: 20px;
  width: 20px;
  padding: 0;
  background: #e6ffe6;
  color: darkgray;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid lightgreen;
  border-radius: 5px;
  margin-right: 2px;
  vertical-align: middle;
  display: inline-block;
}

.coinInfo {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.searchTag, .searchName {
  display: inline-block;
}

.background {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.5);
  top: 0;
}

.addPrompt {
  border-radius: 10px;
  position: fixed;
  height: 200px;
  width: 500px;
  background: #333333;
  color: white;
}

.cancelButtonContainer {
  width: auto;
  display: inline;
  margin: 0;
  position: absolute;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
}
.cancelButtonContainer button {
  background: red;
  padding-bottom: 2px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.addNameContainer {
  margin-top: 3%;
}

.addQuantityContainer, .addCostContainer {
  margin: 0 auto;
  width: 75%;
  display: block;
  height: 10%;
  margin-top: 25px;
}

.addQuantityContainer label,
.addCostContainer label {
  float: left;
}

.addQuantityContainer input,
.addCostContainer input {
  float: right;
}

.confirmAddContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 5px 0;
}
.confirmAddContainer input {
  background: green;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.addError {
  color: white;
  background: darkred;
  padding: 0 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  margin: 0 0 5px 5px;
}

/*# sourceMappingURL=style.css.map */
