$ubuntuFont: 'ubuntu', sans-serif;
$background: whitesmoke;
$headerColor: #1a1a1a;
$portfolioBackground: white;
$portfolioColor: black;
$portfolioElEvenBackground:   #e6e6e6;
$portfolioElEvenColor: black;
$portfolioElOddBackground:  #a6a6a6;
$portfolioElOddColor: white;
$searchBackground: white;
$searchInputBackground: #f2f2f2;
$listElFont: monospace;
$elColor: black;
$searchAddColor:  #0a290a;
$searchAddBackground:  #e6ffe6;
$searchAddBorder: lightgreen;
$promptBackground: rgba(10, 10, 10, 0.5);
$addPromptBackground:  #333333;

%verticalCenter {
	position: relative;
	top:50%;
  	transform: translateY(-50%);
}

html {
	height: 100%;
	background:  $background;
  	color: $headerColor;
}

body {
	height: 95%;
    min-height: 300px;
	max-height: 900px;
	margin: auto;
	font-family: $ubuntuFont;
}

h1, .portfolioContainer{
	text-align: center;
}

h1{
	border-bottom: 2px solid red;
	border-top: 2px solid green;
  	width: 200px;
  	margin: 10px auto; 
}

main{
	width: 100%;
  	min-width: 800px;
	height: 93%;
}

main, .portfolioContainer{
	min-height: 300px;
	max-height: 900px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.portfolioContainer{
	display: inline-block;
	border-radius: 10px;
	background: $portfolioBackground;
	color: $portfolioColor;
	width: 70%;
	max-width: 900px;
	min-width: 500px;
	height: 100%;
}

.msg{
	@extend %verticalCenter;
	text-align: center;
	font-style: italic;
}

#portfolio {
	li {
	  	background: $portfolioElEvenBackground;
	  	color: $portfolioElEvenColor;
		margin: 0;
		overflow: auto;
		position: relative;
		padding: 3px 0;
		width: 100%;
		border: none;

		input{
		 	background: inherit;
			border: none;
			color: black;
		}
	}
	li:nth-child(1){
		border-radius: 10px 10px 0 0;
	}
	li:nth-child(odd){
		background: $portfolioElOddBackground;
		color: $portfolioElOddColor;
	}
}

.editButton{
	display: inline;
	vertical-align: 100%;

	input{
		vertical-align: middle;
	}
}

.portfolioInfo{
  	display: inline-block;
	margin-left: 5%;
}

.portfolioName, .portfolioTag{
	display: inline-block;
}

.currentWorth{
	display: inline-block;
	vertical-align: top;
}

.delete {
  	position: relative;
  	display: inline-block;
	float: right;
}

.deleteConfirm{
	position: fixed;
	height: 200px;
	width: 500px;
	background: gray;
}

#deleteForm {
	@extend %verticalCenter;
	margin: auto;
	height: 50%;
	width: 80%;
  	input{
		position: relative;
		bottom: 0;
	}
}

#cancelDelete, #confirmDelete {
	margin: 30px;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	padding: 5px 10px;
}

#cancelDelete{
	background: darkred;
}

#confirmDelete{
	background: green;
}

.delete {
	input{
		width: 20px;
		height: 20px;
		vertical-align: -140%;
		margin-right: 5px;
	}
}

p {
	display: inline;
}

.search{
	display: inline-block;
  	height: 100%;
	min-height: 300px;
	max-height: 900px;
	width: 25%;
	max-width: 385px;
	min-width: 200px;
	border-radius: 10px;
	background: $searchBackground;
	overflow: auto;
}

#searchInput, button[name=searchButton]{
	border: none;
	border-radius: 10px;
	height: 25px;
	margin-top: 3px;
}

#searchInput{
	width: 80%;
	background: $searchInputBackground;
	font-family: $ubuntuFont;
	padding-left: 5px;
}

ul{
	margin: 0;
	padding: 0;
}


li {
	font-family: $listElFont;
	list-style: none;
	border-bottom: solid 1px black;
	padding: 15px 0;
	color: $elColor;
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

li:first-child{
	border-top: 1px solid black;
	margin-top: 5px;
}

.searchAddContainer{
	display: inline-block;
}

button[name=searchAdd]{
  	height: 20px;
	width: 20px;
	padding: 0;
	background:  $searchAddBackground;
	color: $searchAddColor;
	font-size: 15px;
  	font-weight: bold;
	border: 1px solid $searchAddBorder;
	border-radius: 5px;
	margin-right: 2px;
  	vertical-align: middle;
	display: inline-block;
}

.coinInfo{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}

.searchTag, .searchName{
  display: inline-block;	
}

.background{
	position: fixed;
	background-color: $promptBackground;
	top: 0;
}

.addPrompt{
	position: fixed;
	height: 200px;
	width: 500px;
	background: $addPromptBackground;
	color: white;
}

.cancelButtonContainer{
	width: auto;
	display: inline;
	margin: 0;
	position: absolute;
  	left: 0;
	margin-left: 5px;
	margin-top: 5px;

	button{
	  	background: red;
		padding-bottom: 2px;
		border: 1px solid white;
		border-radius: 10px;
		color: white;
	}
}

.addNameContainer{
  	margin-top: 3%;	
}

.addQuantityContainer, .addCostContainer{
	margin: 0 auto;
  	width: 75%;
	display: block;
	height: 10%;
	margin-top: 25px;
}

.addQuantityContainer label,
.addCostContainer label{
	float: left;
	
}

.addQuantityContainer input,
.addCostContainer input{
	float: right;
}

.confirmAddContainer{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 5px 5px 0;

	input{
		background: green;
		border: 1px solid white;
		border-radius: 10px;
		color: white;
	}
}

.addError{
	color: white;
	background: darkred;
	padding: 0 3px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	margin: 0 0 5px 5px;
}




