html {
	height: 100%;
	background:  whitesmoke;
  color: #1a1a1a;
}

body {
	height: 95%;
  min-height: 300px;
	max-height: 900px;
	margin: auto;
	font-family: 'ubuntu', sans-serif;
}

h1, .portfolio{
	text-align: center;
}

h1{
	border-bottom: 2px solid red;
	border-top: 2px solid green;
  width: 200px;
  margin: 10px auto; 
}

main{
	width: 100%;
  min-width: 800px;
	height: 93%;
}

main, .portfolio{
	min-height: 300px;
	max-height: 900px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.portfolio{
	display: inline-block;
	border: 2px solid gray;
	border-radius: 10px;
	background: black;
	color: white;
	width: 70%;
	max-width: 900px;
	min-width: 500px;
	height: 100%;
}

.msg{
	text-align:center;
  position:relative;
  top:50%;
  transform: translateY(-50%);
	font-style: italic;
}

p {
	display: inline;
}

.search{
	display: inline-block;
  height: 100%;
	min-height: 300px;
	max-height: 900px;
	width: 25%;
	max-width: 385px;
	min-width: 200px;
	border-radius: 10px;
	background: gray;
	overflow: auto;
	border: 2px solid black;
}

#searchInput, button[name=searchButton]{
	border: none;
	border-radius: 10px;
	height: 25px;
	margin-top: 3px;
}

#searchInput{
	width: 80%;
	background: darkgray;
	font-family: 'ubuntu', sans-serif;
	padding-left: 5px;
}

ul{
	margin: 0;
	padding: 0;
}

li {
	font-family: monospace;
	list-style: none;
	border-bottom: solid 1px black;
	padding: 15px 0;
	color: whitesmoke;
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

li:first-child{
	border-top: 1px solid black;
	margin-top: 5px;
}

.searchAddContainer{
	display: inline-block;
}

button[name=searchAdd]{
  height: 20px;
	width: 20px;
	padding: 0;
	background:  #33cc33;
	color: white;
	font-size: 15px;
  font-weight: bold;
	border: none;
	border-radius: 5px;
	margin-right: 2px;
  vertical-align: middle;
	display: inline-block;
}

.coinInfo{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}

.searchTag, .searchName{
  display: inline-block;	
}

.background{
	position: fixed;
	background-color: rgba(10, 10, 10, 0.5);;
	top: 0;
}

.addPrompt{
	position: fixed;
	height: 200px;
	width: 500px;
	background: gray;
}

.cancelButtonContainer{
	width: auto;
	display: inline;
	margin: 0;
	position: absolute;
  left: 0;
	margin-left: 5px;
	margin-top: 5px;
}
.cancelButtonContainer button{
  background: white;
	border: none;
}

.addNameContainer{
  margin-top: 3%;	
}

.addQuantityContainer, .addCostContainer{
	margin: 0 auto;
  width: 65%;
	
}

.addQuantityContainer label,
.addCostContainer label{
	float: left;
	margin-top: 10px;
	
}

.addQuantityContainer input,
.addCostContainer input{
	float: right;
	margin-top: 10px;
}

.confirmAddContainer{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 5px 5px 0;
}












